body {
  background: #D5F1F5;
  font-family: 'Muli', sans-serif;
  color: #22395B;
  font-size: 16px;
  line-height: 22px;
}

h1, h2, h3 {
  color: #F26374;
}

h2 {
  font-size: 20px;
  line-height: 24px;
  opacity: 0.8;
}

a {
  color: #22395B;
  text-decoration: none;
}

a:hover {
  color: #F26374;
 }

ul {
  list-style-type: none;
  padding: 0px;
}

.container {
  width: 500px;
  margin: 0 auto;
}

.card {
  background-color: #FFFFFF;
  border: 1px solid lightgrey;
  border-radius: 2px;
  box-shadow: 1px 1px 3px rgb(200,200,200);
  text-align: center;
  margin-bottom: 20px;
  padding: 20px;

}

#img-circle {
  border-radius: 200px;
}

#img-rectangle {
  border-radius: 4px;
}

#sidebar {
  position: fixed;
  background-color: #22395B;
  width: 120px;
  left: 0;
  top: 0;
  bottom: 0;
  text-align: center;
}
#page-content {
  margin-left: 300px;
}


#sidebar ul {
  list-style: none;
  padding-left: 0px;

}

#sidebar li {
  margin-top:  100px;
  margin-bottom: 150px;

}

#sidebar a {
  text-decoration: none;
  font-size: 45px;
  color: #F26374;
  opacity: 0.8;
}

#sidebar a:hover {
  color: #FFFFFF;
}
